.preview {
  font-family: sans-serif;
  background-color: #f9f9f9;
  border: 1px solid #e8eafc;
  width: 100%;
  display: flex;
  text-align: left;
  align-items: center;
}

.preview img{
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.defaultImg {
  width: 50px;
  height: 50px;
  background: #d4d4d4;
  display: flex;
  justify-content: center;
  color: #4e4e4e;
  font-weight: bold;
  align-items: center;
}

.previewRight {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.previewRight h3 {
  font-size: 16px;
  margin: 0;
  color: #252525;
  line-height: 24px;
}

.previewRight p{
  margin: 0;
  line-height: 21px;
  font-size: 14px;
  color: #4e4e4e;
}

.previewRight i{
  font-size: 14px;
  color: #808080;
  width: 100%;
  text-overflow: ellipsis;
}

.previewNothing{
  font-size: 16px;
  font-weight: bold;
  padding: 12px;
}

.previewLoading{
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  padding: 12px;
}
